<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarRentalApp | @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRentalApp.styles.css" asp-append-version="true" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <button class="humburger" type="button" aria-expanded="false">
          <div></div>
          <div></div>
          <div></div>
        </button>
        <nav class="nav">
            <div class="nav-left">

          <a asp-area="" asp-page="/Index" class="logo">
            <img src="/images/logo.png" alt="logo" width="60" height="60" />
          </a>
            <ul class="nav-center">
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
              </li>
            </ul>
            </div>

           <partial name="_LoginPartial" />
        </nav>
      </div>
    </header>
    <main role="main" class="main">
      <div class="container">@RenderBody()</div>
    </main>

    <footer class="footer">
      <div class="container">
          <p class="copywrite">

        &copy; 2025 - CarRentalApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
          </p>
      </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
